.menu-area {
	box-shadow: #101010 2px 2px 6px, #3e3b3b -2px -2px 6px;
	padding: 10px 0px;
	margin-top: 30px;
}
/*menu css */
.MAIN_MENU{
	
}

.MAIN_MENU ul{
	margin:0;
	padding:0;
	list-style:none;
}
.MAIN_MENU ul li{
	border-left:0px solid #203e20;
	border-right:0px solid #000000;
	float:left;
	position:relative;
}
.MAIN_MENU ul li a{
	border-radius: 0px;
	color: #FFFFFF;
	display: block;
	font-size: 16px;
	padding: 15px  15px  15px 15px;
	text-decoration: none;
	transition: background 0.4s linear 0s, color 0.4s linear 0s;
	
	}
.MAIN_MENU ul li a:hover{
	background:#2DCC70;
	color:#fff;
	}
.MAIN_MENU a:focus{
	outline:0px;	
}
/*drovdown menu css */
.MAIN_MENU ul ul{
	z-index:99;
}
.MAIN_MENU ul li ul{
	position:absolute;
	left:-999999px
}
.MAIN_MENU ul li:hover ul{
	left:0px;
}
.MAIN_MENU ul li ul{
	background:#2DCC70;
}
.MAIN_MENU ul li ul li{
	float:none;
	width:175px;
}

.MAIN_MENU ul li ul li a {
	background: #2DCC70 none repeat scroll 0 0;
	font-size: 13px;
	padding: 10px 15px;
	border:0px;
	color: #fff;
	border-bottom:1px solid #fff;
}
.MAIN_MENU ul li ul li a:hover{	
	background:#333333;
	opacity:1px;
	color:#fff;
}


	/*Medium Layout: 768px.....*/
@media only screen and (min-width: 1200px) and (max-width:1600px) {

	.slicknav_menu {
	  display: none;
	}


}
	/*Medium Layout: 768px......*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slicknav_menu {
	  display: none;
	}
	.MAIN_MENU ul li a {
	  padding: 15px 59px 10px 15px;
	}
}

/*Tablet Layout: 768px.....*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slicknav_menu {
	  display: none;
	}
	.MAIN_MENU ul li a {
	  padding: 10px 26px 10px 16px;

	}
	.MAIN_MENU ul li ul li {
	  width: 138px;
	}
}

/*Mobile Layout:320px.....*/
@media only screen and (max-width: 767px) {
	.MAIN_MENU {
	  visibility: hidden;
	}
	.slicknav_btn {
	  float: left;
	}
}


	/*Wide Mobile Layout: 480px....*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.MAIN_MENU {
	  visibility: hidden;
	}
	.slicknav_btn {
	  float: right;
	}
}




/*=================================
    EXTRA CSS SOCIAL MENU
===================================*/
.social-area {
    margin: 50px 0;
}
.social-intro {
    box-shadow: #101010 2px 2px 6px, #3e3b3b -2px -2px 6px;
    padding: 0 5px;
    border-radius: 30px;
    text-align: center;
    padding: 65px 5px;
}
.social-intro h2 {
    color: #fff;
    margin-bottom: 40px;
}
.social-intro h5 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.social-intro .profile {
    width: 100px;
    border-radius: 30px;
}
.social-intro .profile img {
    width: 100px;
    border-radius: 5px;
    box-shadow: #101010 2px 2px 6px, #3e3b3b -2px -2px 6px;
    padding: 5px;
}
.social-intro li {
    display: inline-block;
}

.social-intro li a {
    color: #ffffff;
    opacity: 1;
    padding: 5px;
    display: block;
}
.social-intro li a img {
    width: 70px;
    height: auto;
}
.social-intro li a:hover {
    color: #ff9801;
    opacity: 0.7;
}

@media (max-width: 767px) {
    .social-intro {
        padding: 0 10px;
    }
}
body{
    background-color: #212529;
    margin: 50px 0px;
}
.header-area {
    border-radius: 30px;
    box-shadow: #101010 2px 2px 6px, #3e3b3b -2px -2px 6px;
    margin: 30px 0px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
}
.read-more a {
    color: #ffffff;
    display: inline-block;
    border-right: 5px solid #333333;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    -webkit-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
    -moz-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
    -ms-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
    -o-box-shadow: 0px 2px 20px rgba(153, 153, 153, 0.2);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 10px;
    height: 50px;
    line-height: 48px;
    padding: 0 40px;
    background-color: #ffb500;
    margin-top: 30px;
    text-decoration: none;
}
.read-more a {
    background-color: #ffb500;
    margin-top: 50px;
    padding: 0 40px;
}
.read-more a:last-child {
    margin-right: 0;
}
.promo-content .read-more a:hover {
    background-color: #333333;
}
/*================================
    [ THEME PREVIEW PRELOADER ] 
==================================**/
.loader-popover{
    height: 100%;
    width: 100%;
    background: #000000 none repeat scroll 0 0;
    z-index: 999999999999;
    position: fixed;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 130px;
    margin: 20px auto;
    border-radius: 50%;
    -webkit-perspective: 780px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    perspective: 780px;
}
.loader-container{
    position: relative;  
    height: 100px;
    width: 100px;
    animation: loader-container 10s linear infinite;
  }

  .loader-container > div{
    width: 44px;
    height: 44px;
    position: absolute;
    box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .box1{
    background-color: #D11138;
    top: 4px;
    left: 4px;
    transform-origin: bottom center;
    animation-name: box1;
  }
  .box2{
    background-color: #ffffff;
    top: 4px;
    right: 4px;
    transform-origin: center left;
    animation-name: box2;
  }
  .box3{
    background-color: #D11138;
    bottom: 4px;
    right: 4px;
    transform-origin: top center;
    animation-name: box3;
  }
  .box4{
    background-color: #ffffff;
    bottom: 4px;
    left: 4px;
    transform-origin: center right;
    animation-name: box4;
  }
  
  
  @keyframes box1{
    0%{
      transform: perspective(200px) rotateX(90deg);
    }
    11%{
       transform: perspective(200px) rotateX(0);
    }
    88%{
      transform: perspective(200px) rotateX(0);
    }
    99%{
      transform: perspective(200px) rotateX(90deg);
    }
    100%{
       transform: perspective(200px) rotateX(90deg);
    }
  }
  @keyframes box2{
    0%{
      transform: perspective(200px) rotateY(90deg);
    }
    11%{
       transform: perspective(200px) rotateY(90deg);
    }
    22%{
      transform: perspective(200px) rotateY(0);
    }
    77%{
      transform: perspective(200px) rotateY(0);
    }
    88%{
      transform: perspective(200px) rotateY(90deg);
    }
    100%{
      transform: perspective(200px) rotateY(90deg);
    }
  }
  @keyframes box3{
    0%{
      transform: perspective(200px) rotateX(-90deg);
    }
    22%{
      transform: perspective(200px) rotateX(-90deg);
    }
    33%{
      transform: perspective(200px) rotateX(0);
    }
    66%{
       transform: perspective(200px) rotateX(0);
    }
    77%{
      transform: perspective(200px) rotateX(-90deg);
    }
    100%{
      transform: perspective(200px) rotateX(-90deg);
    }
  }
  @keyframes box4{
    0%{
      transform: perspective(200px) rotateY(-90deg);
    }  
    33%{
      transform: perspective(200px) rotateY(-90deg);
    }
    44%{
        transform: perspective(200px) rotateY(0);
    }
    55%{
      transform: perspective(200px) rotateY(0);
    }
    66%{
      transform: perspective(200px) rotateY(-90deg);
    }
    100%{
      transform: perspective(200px) rotateY(-90deg);
    }
  }
  
  @keyframes loader-container{
    0%{
      transform: rotate(0);
    }
    23%{
      transform: rotate(0);
    }
    25%{
      transform: rotate(90deg);
    }
    48%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    73%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    98%{
       transform: rotate(270deg);
    }
    100%{
      transform: rotate(360deg);
    }
}


